*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*SE COPIA DESDE AQUÍ*/
header{
    background-color: #153a58;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 3px gray;
    text-transform: uppercase;
}

/*Cambios que hay que realizar*/
header ul{
    list-style: none;
}


header li{
    display: inline-block;
}


header li a{
    color: white;
    text-decoration: none;
    padding: 13px;
}

header li a:hover{
    color: aqua;
}
/*Cambios que hay que realizar*/
.banner{
    width: 100%;
}

/*Menú Hamburguesa*/
.bars__menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin:0px 100%;
    transition: all 600ms;
}
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px,2px);
}
/*Hasta aquí llega el menú hamburguesa*/
/*HASTA AQUÍ*/

/*Parte de abajo Contenido de la página*/
.texto{
    text-align: center;
    text-overflow: initial;
}
.contacto div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*Letras*/
.contacto div h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
}
.contacto h2{
    margin-top: 15px;
}
.contacto h3{
    margin-top: 15px;
    margin-bottom: 15px;
}
.contacto p{
    width: 30%;
}
/*Fin letras*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

header li a{
    color: white;
    text-decoration: none;
}
.contacto hr{
    margin-top: 10px;
    color: black;
    width: 75%;
}







/*COPIAR ESTO ANGEL ++++++++++++++   */


@media screen and (max-width:1600px){
    header li a{
        color: gold;
        text-decoration: none;
        padding: 13px;
    }
    
}


/*footer*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #153a58;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/*COPIAR HASTA ACÁ ANGEL ++++++++++++++   */








/* Página web responsive*/

/*Menú responsivo */
@media screen and (max-width:1300px){
    .menu{
        display: flex;
        justify-content: end;
    }
    .bars__menu{
        display: block;
    }
    header{
        padding: 20px;
    }
    /*Tamaño y posición*/
   .NavB{ 
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #0a1a2a;
    transition: 0.2s;
   }
   /*Fin de tamaño y posición*/
   /*Cómo van acomodado el menú*/
   .NavB ul li{
    display: block;
    width: fit-content;
    margin: 14px auto 14px auto;
    text-align: center;
   }
   /*Cómo va acomodado el menú*/
    
   /*Desde aquí comienza el responsive de esta página(letras y demás)*/

   /*Tamaño de acerca de nuestra página*/
   .contacto div h1{
    font-size: 26px;
   }
   /*Hasta aquí llega el de acerca de nuestra página*/

   /*Esta es una organización de...*/
   .contacto h2{
    font-size: 14px;
   }
   /*Final de esta es una organización de...*/
   /*Actualmente, presentamos equipos...*/
   .contacto h3{
    font-size: 13px;
   }
   /*Final de actualmente*/

   .contacto p{
    font-size: 12px;
   }


   /*Fin tamaño footer*
}
/*Menú responsivo final*/

@media screen and (max-width:900px) {
    /*Tamaños*/
    .contacto div h1{
        font-size: 20px;
    }
    
    .contacto  h2{
        font-size: 10px;
    }

    .contacto h3{
        font-size: 12px;
    }
    .contacto p{
        font-size: 10px;
    }
    /*Tamaños*/


@media screen and (max-width:750px){
    .contacto div h1{
        font-size: 12px;
    }
    
    .contacto  h2{
        font-size: 5px;
    }

    .contacto h3{
        font-size: 4.5px;
    }
    .contacto p{
        font-size: 6px;
    }

    .contacto p{
        width: 50%;
    }

    /*Footer final*/
   

    /*Footer Secciones tamaño*/
    
    /*Footer Secciones tamaño final*/
    }
}
}